.App h3{
  padding-top: 440px;
  text-align: center;
}

.App h5{
  text-align: center;
}

body{
  background: rgb(245,255,227);
  background: radial-gradient(circle, rgba(245,255,227,1) 50%, rgba(139,190,255,1) 100%);  
  min-height: 900px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 670px){
  body{
    min-height: 500px;
  }

  nav h5{
    font-size: 20px;
  }
}

main{
  flex: 1 0 auto;
}

